* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgba(31, 46, 53, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-top: 20px;
}

nav img {
    margin-left: 100px;
}

.menu ul {
    width: 500px;
    display: flex;
    color: rgba(255, 255, 255, 1);
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}

.login {
    width: 90px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    background-color: rgba(0, 134, 214, 1);
    border-radius: 8px;
    margin-right: 100px;
}

.login a {
    color: white;
}

/* Header */
.back {
    width: 100%;
    height: 100vh;
    background-color: rgba(31, 46, 53, 1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.back h3 {
    width: 550px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-top: 112px;
    padding-left: 154px;
}

.text {
    width: 550px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-left: 154px;
}
.user{
    display: flex; 
    padding-left: 150px;
    padding-top: 60px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.20000000298023224px;
    color: rgba(255, 255, 255, 1);
}
.img img{
    width: 476.87px;
    height: 550px;
    object-fit: cover;
    margin-top: 60px;
    
}
span{
    color: rgba(0, 134, 214, 1);
    margin-left: 10px;
}
.back a {
    font-family: "Poppins", sans-serif;
    color: white;
}
.button{
    width: 177px;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(0, 134, 214, 1);
    border-radius: 8px;
    margin-right: 100px;
    padding-top: 20px;
    text-align: center;
    margin-top: 21px;
    margin-left: 154px;
}
