.telebe {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}

.input {
	margin-bottom: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
}

.telebe input {
	flex: 1;
	max-width: 700px;
	padding: 8px;
}

.telebe button {
	cursor: pointer;
	width: max-content;
	padding: 8px;
}

.telebe table {
	width: 100%;
	border-collapse: collapse;
}

.telebe table td {
	position: relative;
	min-width: 80px;
}

.telebe table td button {
	width: max-content;
	border: none;
}

.telebe table td button:disabled {
	cursor: not-allowed;
}
.tool {
	background-color: white;
	padding: 16px 32px;
	border: 2px solid lightgray;
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	z-index: 1;
}

.tool button {
	border: none;
	border-radius: 0;
	margin-right: 8px;
	font-size: 14px;
}
